.spice-instagram-row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.spice-instagram-wrap .item-1column
{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
    max-width: 100%
}
.spice-instagram-wrap .item-2column
{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.spice-instagram-wrap .item-3column 
{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.spice-instagram-wrap .item-4column
{
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
@media (max-width: 767px){
.spice-instagram-wrap .item-2column,.spice-instagram-wrap .item-3column,.spice-instagram-wrap .item-4column
{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}
}
.spice-instagram-wrap .spice-instagram-thumbnail 
{
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: left;
    border-radius:0;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}
.spice-instagram-thumbnail img
{
  max-width: 100%;
    height: auto;
    vertical-align: middle;
}
body .spice-instagram-wrap .spice-instagram-row img
{
    max-width: 100%;
    height: auto;
    margin: 0;
}

.mfp-gallery .mfp-arrow:focus,.mfp-gallery .mfp-arrow:hover,.mfp-gallery .mfp-close:hover,.mfp-gallery .mfp-close:focus{
    outline: unset !important;
    border: none;
    background: transparent !important;
}
.mfp-gallery .mfp-arrow, .mfp-gallery .mfp-close
{
   background: transparent !important; 
}
.spice-instagram-wrap .spice-instagram-row a:focus
{
    margin-left:0;
}
